---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/Hero_about.jpeg';
import { Image } from 'astro:assets';
---

<Layout
	title="About Us"
	description="Einführung in unsere Denkweise"
	pubDate={new Date('Juni 22 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		<h1>Darkwater Syndicate</h1>
		 - das sind Cid und Lukas.
		Darkwater Syndicate - das sind Cid und Lukas. 
		Wir kommen aus den heimischen Gewässern, in denen es, anders als irgendwo im Süden, schon nach wenigen Metern einfach nicht mehr so viel Licht gibt. Wir fühlen uns wohl im Silt-Out und sind es gewohnt über minimale Lichtsignale unseren Status zu kommunizieren. Durch den Kontakt mit vielen Tauchern verschiedener Verbände, unterschiedlichen Ausbildungsgraden und auch sehr unterschiedlichen persönlichen Zielen hat sich für uns als Buddyteam eine gewisse Philosophie entwickelt. 
		Kein Schein ist etwas Wert, wenn du ihn nur gekauft hast. Nach den Ausbildungsstandards nahezu jeder Agency liegt es (leider) absolut an dir selbst, nach bestem Wissen und Gewissen die notwendigen Skills zu entwickeln, nicht nur deinen Buddy sicher durch den noch so unspektakulären Tauchgang zu bringen, sondern auch deine eigenen Grenzen sicher abzupassen. Damit du weißt, ob euer Tauchgang noch Safe ist. Wir sehen das als Chance die richtigen Fragen zu stellen: 
	</p>

	<p>
		Hast du deinen Buddy mal gefragt, wann er das letzte mal eine Boje gesetzt hat? Weißt du, ob er oder sie dich eben nicht in Gefahr bringt, wenn die Maske mal verloren geht? Kannst du dich darauf verlassen, dass du versorgt bist, wenn dein Regler den Geist aufgibt? 
		Wir streben nach dem maximalen Bewusstsein für die richtige und regelmäßige Ausführung von Drills - damit die Skills keine teuren Specialties mehr sind, sondern irgendwann einmal einfach zum Handwerk eines jeden Tauchers gehören.
	</p>

	<p>


	</p>

	<p>
		<Image src="/assets/Lukas.jpeg" alt="Lukas" width="720" height="405" loading="eager" style="display: block; margin-left: auto; margin-right: auto;"/>
		Lukas

		Zum Tauchen bin ich gekommen 2023. Für mich ergab sich die Möglichkeit auf eine Reise zum Great Barrier Reef zu gehen. Da musste ich natürlich tauchen können, davon war ich überzeugt. 
		Auch wenn ich die Reise nie antrat, machte ich wenige Wochen später den Open Water Diver. Vollkommen panisch, von Platzangst durchsiebt, versuchte ich mit dickem Neopren, Handschuhen ohne jedes Feingefühl, einem Regler, der mich scheinbar ersticken ließ und mindestens 10 kg Blei am Gurt unterzutauchen. Es brauchte zwei Versuche, mich darauf einzulassen und einigermaßen ruhig zu atmen. Nicht gerade der beste Einstieg. Aber die ruhige und besonnene Zuwendung meines Tauchlehrers half mir, die Angst zu überwinden. Er nahm sich diese Zeit, auch wenn er noch weitere 4 Schüler hatte. Nicht jeder Instruktor kann das, und leider muss es auch nicht jeder. Seither versuche ich, ein besserer Taucher zu sein, als ich damals war. Es gibt immer etwas zu lernen. Immer etwas, was vielleicht besser sitzen kann, leichter von der Hand gehen sollte. Demut in allem, was man tut vermittelt auch im Gegenüber das Gefühl von Vergleichbarkeit - Ein Instruktor ist auch nur ein Mensch, jemand der stets lernt, sich sorgt und im Idealfall ein guter Mentor sein möchte. 
		Und jeder Taucher, der dieses Mindset verfolgt wird schlussendlich der beste Buddy sein. Denn wir werden zusammen lernen und wachsen. 

		Im März 2024 habe ich mein Intro to Tec Sidemount bei TDI gemacht und direkt darauf folgend Advanced Nitrox und Decompression Procedures abgeschlossen.
		Neben diversen Sporttauchkursen liegt das nächste Ziel im TDI Covern Intro. 

		Wenn ihr mit mir taucht, werdet ihr mich selten ohne Sidemount System sehen. Für mich ist es nicht so sehr ein Lifestyle, wie es manche predigen, sondern einfach eine Methode, mich sicherer zu fühlen. Es ist für mich persönlich einfach die beste Konfiguration.
	</p>

	<p>
		<Image src="/assets/Cid.jpeg" alt="Cid" width="720" height="347" loading="eager" style="display: block; margin-left: auto; margin-right: auto;"/>
		Cid

		Mein erstes Mal unter Wasser mit Tauchgerät war 2016 bei einem Schnuppertauchgang. Damals hatte ich mich vor allem von den spannenden Geschichten meines Vaters anstecken lassen, der selbst begeisterter Taucher ist. Das Schnuppertauchen hat mir so viel Spaß gemacht, dass ich unbedingt weitermachen wollte. Leider war ich damals noch zu jung, um direkt den Open Water Diver (OWD) bei SSI zu machen, also hieß es erstmal warten.

		2018 war es dann endlich soweit: Ich habe meinen OWD bei SSI gemacht. Die Ausbildung war ehrlich gesagt ziemlich chaotisch. Wichtige Basics - wie etwa was ein DSMB überhaupt ist - wurden kaum erklärt. Trotzdem gab es einen Tauchlehrer, der mich total fasziniert hat. Er hat sich selbst als „Techi durch und durch“ bezeichnet, und das hat er wirklich gelebt. Sein Equipment und seine Leidenschaft haben mich als Anfänger total begeistert, auch wenn ich nicht genau weiß, welches Level er hatte.

		Nach der Ausbildung bin ich vor allem im Urlaub getaucht, weil es dort einfach mehr und schönere Fische gibt als bei uns vor der Haustür. Aber irgendwann wurde mir das zu wenig: Ich wollte nicht immer monatelang warten müssen, bis ich wieder tauchen gehen konnte.

		Im Sommer 2024 habe ich mich dann in einem lokalen Tauchclub angemeldet und dort Lukas kennengelernt. Dort hat meine Begeisterung erst richtig Fahrt aufgenommen. Noch im selben Jahr habe ich mir eine komplett neue Ausrüstung zusammengestellt - das genaue Gegenteil von meinem bisherigen Equipment. Gemeinsam haben wir angefangen, regelmäßig zu trainieren und unsere Skills zu verbessern. Auch wenn das im Club nicht bei allen gut ankommt, macht es uns riesig Spaß.

		Meine nächsten Ziele sind der TDI „Intro to Tec“, „Decompression Procedures“ und „Advanced Nitrox“. Mein langfristiger Traum? Höhlentauchen.
	</p>
</Layout>
