---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/Hero_about.jpeg';
---

<Layout
	title="About Us"
	description="Einführung in unsere Denkweise"
	pubDate={new Date('Juni 22 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		<h1>Darkwater Syndicate</h1>
		 - das sind Cid und Lukas.
		Darkwater Syndicate - das sind Cid und Lukas. 
		Wir kommen aus den heimischen Gewässern, in denen es, anders als irgendwo im Süden, schon nach wenigen Metern einfach nicht mehr so viel Licht gibt. Wir fühlen uns wohl im Silt-Out und sind es gewohnt über minimale Lichtsignale unseren Status zu kommunizieren. Durch den Kontakt mit vielen Tauchern verschiedener Verbände, unterschiedlichen Ausbildungsgraden und auch sehr unterschiedlichen persönlichen Zielen hat sich für uns als Buddyteam eine gewisse Philosophie entwickelt. 
		Kein Schein ist etwas Wert, wenn du ihn nur gekauft hast. Nach den Ausbildungsstandards nahezu jeder Agency liegt es (leider) absolut an dir selbst, nach bestem Wissen und Gewissen die notwendigen Skills zu entwickeln, nicht nur deinen Buddy sicher durch den noch so unspektakulären Tauchgang zu bringen, sondern auch deine eigenen Grenzen sicher abzupassen. Damit du weißt, ob euer Tauchgang noch Safe ist. Wir sehen das als Chance die richtigen Fragen zu stellen: 
	</p>

	<p>
		Hast du deinen Buddy mal gefragt, wann er das letzte mal eine Boje gesetzt hat? Weißt du, ob er oder sie dich eben nicht in Gefahr bringt, wenn die Maske mal verloren geht? Kannst du dich darauf verlassen, dass du versorgt bist, wenn dein Regler den Geist aufgibt? 
		Wir streben nach dem maximalen Bewusstsein für die richtige und regelmäßige Ausführung von Drills - damit die Skills keine teuren Specialties mehr sind, sondern irgendwann einmal einfach zum Handwerk eines jeden Tauchers gehören.
	</p>
</Layout>
