---
import "../styles/global.css";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3 style="text-align: center;">Welcome to </h3>
			<h1 class="font-alfa" style="text-align: center;">Darkwater Syndicate!</h1>
			<Image src="/Darkwater_Syndicate_Logo_Logo_transparent.svg" alt="Darkwater Logo" width="400" height="400" loading="eager" style="display: block; margin-left: auto; margin-right: auto;"/>
		</main>
		<Footer />
	</body>
</html>
